.display-info-box__right-panel {
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-width: 70%;
  max-width: 70%;
  color: #e9ecef;
  transition: all 0.5s;

  overflow: auto;

  @include mediaQuery(firstBreakpoint) {
    min-width: unset;
    max-width: unset;
  }

  & h2 {
    font-size: 7rem;
    font-weight: 200;
    // color: #e9ecef;
    letter-spacing: -3px;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    display: flex;
    gap: 2.3rem;
    align-items: center;

    @include mediaQuery(thirdBreakpoint) {
      word-break: break-word;
    }
    @include mediaQuery(fourthBreakpoint) {
      letter-spacing: 0;
    }
    @include mediaQuery(sixthBreakpoint) {
      gap: 1.5rem;
    }

    & .right-panel__title-icon {
      display: flex;
      justify-self: flex-start;
    }
  }

  & .right-panel__time-date-box {
    grid-column: 1 / 6;
    grid-row: 2 / span 1;
    font-size: 2.8rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;

    @include mediaQuery(fourthBreakpoint) {
      font-size: 2.2rem;
      gap: 0.5rem;
      margin-top: 1rem;
    }

    @include mediaQuery(sixthBreakpoint) {
      font-size: 1.8rem;
      gap: 1rem;
    }
  }

  & .right-panel__down-list {
    grid-row: 6 / -1;
    grid-column: 1 / -1;
    border-top: solid 1px #e9ecef;
    display: flex;
    align-items: center;
    gap: 2rem;
    scroll-behavior: smooth;

    @include mediaQuery(thirdBreakpoint) {
      grid-row: 5 / 8;
    }
    @include mediaQuery(fourthBreakpoint) {
      grid-row: 5 / 7;
    }
  }

  & .right-panel__weather-description {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    font-size: 7rem;

    @include mediaQuery(thirdBreakpoint) {
      grid-row: 4 / 5;
      font-size: 6rem;
    }
    @include mediaQuery(fourthBreakpoint) {
      font-size: 5rem;
    }
    @include mediaQuery(sixthBreakpoint) {
      font-size: 4rem;
    }
  }
}

.right-panel__down-list--list-item {
  background-color: transparent;
  padding: 1rem;
  font-size: 2rem;
  min-width: 12rem;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  border-radius: 3px;
  border: 1px solid #e9ecef;

  @include mediaQuery(fifthBreakpoint) {
    font-size: 1.5rem;
    min-width: 9rem;
    padding: 0.5rem;
  }
}

.right-panel {
  &__time,
  &__date {
    display: flex;
    gap: 3.5rem;

    @include mediaQuery(sixthBreakpoint) {
      gap: 1.5rem;
    }

    span {
      display: flex;
      align-items: center;
    }
  }
}
