.main-window {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  // filter: blur(3px);
  overflow: hidden;
  &-img {
    width: 100%;
    height: 100%;
  }
}

.main-window__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  backdrop-filter: blur(4px);
}

.display-info-box {
  position: relative;
  height: 90vh;
  background-color: rgba(176, 176, 176, 0.185);
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  width: 90vw;
  display: none;

  @include mediaQuery(firstBreakpoint) {
  }
}

.display-info-box__background {
  position: absolute;
  top: -5.5vh;
  left: -4.6vw;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  &-img {
    width: 100%;
    height: 100%;
  }
}

// First window
.first-window {
  background-color: rgba(176, 176, 176, 0.185);
  overflow: hidden;
  border-radius: 4px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      font-size: 2.4rem;
      background-color: transparent;
      border-style: none;
      border-bottom: 1px solid #d6d6d6;
      color: #e9ecef;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      padding-top: 3rem;
      outline: none;
      font-family: "Montserrat", "Sans-serif";

      &:hover {
        background-color: rgba(155, 154, 154, 0.185);
      }
    }

    & label {
      font-size: 2.4rem;
      color: #e9ecef;
      position: absolute;
      top: 40%;
      left: 3.5%;
      transition: all 0.3s;
      user-select: none;
    }

    & .bar {
      transform: translateY(-0.3rem);
      width: 10%;
      border-radius: 4px;
      height: 0.3rem;
      background-color: transparent;
      transition: 0.3s width;
    }

    & input:focus + &-input-bar {
      background-color: #5a9ada;
      width: 100%;
    }
  }
  &__settings {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & input {
      display: none;
    }

    & .settings-label {
      display: inline-block;
      background-color: #d6dadd;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: 2px solid #d6dadd;
      transition: all 0.3s;
    }

    & .label {
      color: #e9ecef;
      font-size: 1.2rem;
      font-weight: 500;
    }

    &--hour-format,
    &--temp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      & p {
        font-size: 1.6rem;
        color: #e9ecef;
        margin-bottom: 0.5rem;
      }

      &-box,
      &--box {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
