*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // box-sizing: inherit;
}

*:focus {
  border-bottom: 2px solid blue;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include mediaQuery(seventhBreakpoint) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Montserrat", "Sans-serif";
  height: 100vh;
}
